body {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
}

nav {
    width: 80vw;

}

.todoheader {
    font-size: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.input_section {

    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    padding: 10px;

}

.input_box {
    width: 80vw;
    border: 1px solid black;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;

}

form input {
    width: 30vw;
    font-size: 20px;
    color: black;

}

.input_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.input_btn button {
    width: 10vw;
    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.task_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#show {
    width: 60vw;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.parent {
    width: 60vw;
    display: flex;
    border: 1px solid black;
    padding: 10px;
}

.text_sec {
    width: 45vw;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.text_sec p {
    gap: 20px;
}

.btn_sec {
    width: 15vw;
    font-size: 20px;
    gap: 60px;
    display: flex;
    
}

.btn_sec button {
    gap: 20px;
    font-size: 20px;
}